.bgCont {
  background-color: red;
}
.intro {
  font-family: "Lobster", cursive;
}
.NuCampImg {
  height: 100px;
  width: 100px;
}
.NuCampImg:hover {
  transform: scale(3);
}
@media only screen and (max-width: 600px) {
  .NuCampImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
  }
}
