.homebg {
  background-color: red;
}
.homeImg {
  height: 400px;
  width: 400px;
}
.homeText {
  font-size: 45px;
  font-family: "Lobster", cursive;
}
.home-row {
  height: 100vh;
}
@media only screen and (max-width: 1000px) {
  .homeImg {
    height: 300px;
    width: 300px;
  }
}
@media only screen and (max-width: 600px) {
  .homeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    margin-top: 150px;
  }
  .awards {
    text-align: center;
  }
  .home-row {
    height: 150vh;
  }
}
