.bgContact {
  background-color: grey;
}
.contact-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactUl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.contIcon {
  font-size: 100px;
}
.contact {
  font-family: "Lobster", cursive;
  font-size: 55px;
}
.footer {
  background-color: black;
  color: white;
  height: 40px;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .contactUl {
    flex-direction: row;
    margin-right: 1rem;
  }
  .contIcon {
    font-size: 60px;
  }
}
